body {
    background: rgb(38, 37, 37);
    color: rgb(45, 45, 45);
    padding: 100px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(246, 31, 7);
   margin: 0 auto;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(13, 13, 13);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #050505;
}

/* main container area beneath menu */
main {
    background: rgb(254, 254, 254);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(1, 1, 1) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
/* portfolio styles */
.content h1 {
    color: black;
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #eee;
}

#portfolio a {
    text-decoration: none;
    color: #454545;
}
         /* responsive web design */
         @media screen and (min-width: 120px) and (max-width: 1080px) {
            main {
              height: 100ch;
              zoom: 1.5;
              display: grid;
            }

            h1 {
              font-size: 44px;
            }

            h2 {
              font-size: 42px;
            }

            h3 {
              font-size: 36px;
            }

            #all-contents {
              height: 100ch;
              margin: none;
            }

            a {
              font-size: 42px;
            }

            .sidebar {
              margin-right: 0px;
              justify-content: center;
              align-items: center;
            }

            .sidebar-img {
              width: 100%;
            }

            p,
            li {
              font-size: 24px;
            }

            .content {
              align-content: center;
              justify-content: center;
            }
        }
